.elementor-control-type-repeater.elementor-repeater-has-minimum-rows .elementor-repeater-tool-remove{
	display: table-cell !important;
}

.elementor-control-type-layoutcontrol .radio-image-item{
    -webkit-box-shadow: 0 3px 21px rgb(0 0 0 / 6%);
    -khtml-box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
    -ms-box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
    -o-box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
    box-shadow: 0 3px 21px rgb(0 0 0 / 6%);
    -webkit-transition: all 0.3s ease;
    -khtml-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.elementor-control-type-layoutcontrol .radio-image-item.selected,
.elementor-control-type-layoutcontrol .radio-image-item:hover{
	-webkit-box-shadow: 0 14px 21px rgb(0 0 0 / 14%);
    -khtml-box-shadow: 0 14px 21px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 14px 21px rgba(0, 0, 0, 0.14);
    -ms-box-shadow: 0 14px 21px rgba(0, 0, 0, 0.14);
    -o-box-shadow: 0 14px 21px rgba(0, 0, 0, 0.14);
    box-shadow: 0 14px 21px rgb(0 0 0 / 14%);
}
.elementor-control-type-layoutcontrol .radio-image-item.selected{
    -webkit-box-shadow: 0 14px 21px rgb(0 0 0 / 54%);
    -khtml-box-shadow: 0 14px 21px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0 14px 21px rgba(0, 0, 0, 0.54);
    -ms-box-shadow: 0 14px 21px rgba(0, 0, 0, 0.54);
    -o-box-shadow: 0 14px 21px rgba(0, 0, 0, 0.54);
    box-shadow: 0 14px 21px rgb(0 0 0 / 54%);
    border: 1px solid rgba(10,10,10, 0.5);
}
.elementor-control-type-layoutcontrol .radio-image-item span{
	position: absolute;
	top: 0;
	right: 0;
	width: 25px;
	height: 25px;
	background: rgba(10,10,10, 0.5);
	display: inline-block !important;
	text-align: right;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	padding-top: 4px;
    padding-right: 7px;
    border-bottom-left-radius: 20px;
    -webkit-transition: all 0.3s ease;
    -khtml-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.elementor-control-type-layoutcontrol .radio-image-item img{
    width: 100%;
}
.elementor-control-type-layoutcontrol .radio-image-item.selected span,
.elementor-control-type-layoutcontrol .radio-image-item:hover span{
	background: #00933c;
}

.elementor-control .elementor-control-unit-2 {
    width: 64px;
}
