.error404{
    .pxl-main{
        padding-top: 0;
        padding-bottom: 0;
    } 
    .page-404-wrap{
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        height: 100vh;
        background-position: center bottom;
        padding-left: 15px;
        padding-right: 15px;
        .page-404-content{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-right: auto;
            margin-left: auto;
            position: relative;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding-left: 115px;
            height: 100%;
            @media (max-width: 1800px){
                padding-left: 65px;
            }
            @media (max-width: $xxl_max){
                padding-left: 35px;
            }
            @media (max-width: $md_max){
                padding-left: 15px;
            }
        }
        .img-404{
            @media (max-width: $lg_max){
                max-width: 30vw;
            }
            @media (max-width: $sm_max){
                max-width: 40vw;
            }
        }           
        .title{
            font-size: 90px;
            line-height: 1.125;
            margin-bottom: 15px;
            margin-top: 8px;
            letter-spacing: 0;
            font-weight: 400;
            @media (max-width: $xxl_max){
                font-size: 60px;
            }
            @media (max-width: $lg_max){
                font-size: 50px;
            }
            @media (max-width: $md_max){
                font-size: 40px;
            }
            @media (max-width: $sm_max){
                font-size: 30px;
            }
        }
        .img-404-layer{
            margin-bottom: 20px;
            max-width: 35vw;
        }
        .desc{
            font-size: 26px;
            line-height: 1.38461538462;
            max-width: 920px;
            margin-bottom: 40px;
            margin-left: auto;
            margin-right: auto;
            color: $heading_color;
            @media (max-width: $xxl_max){
                max-width: 750px;
            }
            @media (max-width: $lg_max){
                font-size: 20px;
            }
            @media (max-width: $xs_max){
                font-size: 16px;
            }
        }
          
    }

}