.single-next-prev-nav{
    position: relative;
    margin-top: 48px;
    padding-top: 24px;
    border-top: 1px solid $border_color;
    .divider{
    	width: 30px;
    	padding: 0 15px;
    }
    .nav-inner {
		display: inline-block;
		position: relative;
		> a{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 2;
		}
	}
	@media (min-width: $sm_min){
	    .nav-label-wrap{
	    	margin-bottom: 15px;
	    }
	}
    .nav-label{
    	color: $heading_color;
    	position: relative;
    	line-height: 1;
    	display: inline-block;
    	@include transition();
    }
    .nav-icon{
    	font-weight: 700;
    	font-size: 17px;
    	margin-top: -4px;
    	display: inline-block;
    	@include transition();
    }
    .prev{
		.nav-icon{
	    	margin-right: 7px;
	    }
	    .nav-img{
	    	margin-right: 20px;
	    	@media (max-width: $xs_max){
	    		margin-right: 15px;
	    	}
	    }
    } 
    .next{
    	.nav-icon{
	    	margin-left: 7px;
	    }
	    .nav-img{
	    	margin-left: 20px;
	    	@media (max-width: $xs_max){
	    		margin-left: 15px;
	    	}
	    }
    } 
	 
	.nav-img{
		overflow: hidden;
		position: relative;
		@include transition();
		img{
			width: 60px;	
			border-radius: 6px;
			@media (max-width: $xs_max){
				width: 50px;
			}
			@media (max-width: $xs_screen){
				width: 40px;
			}
		}
	}

	.nav-title {
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.5;
        color: $link_color;
        @include transition();
        display: block;  
        display: -webkit-box;
        max-height: 16px*1.5*2;  
        font-size: 16px;
        line-height: 1.5;
        overflow: hidden;
        text-overflow: ellipsis;
        @include css3-prefix('line-clamp',2);
        @include css3-prefix('box-orient', 'vertical');
        > * {
            display: block;  
            display: -webkit-box;
            max-height: 16px*1.5*2;  
            font-size: 16px;
            line-height: 1.5;
            overflow: hidden;
            text-overflow: ellipsis;
            @include css3-prefix('line-clamp',2);
            @include css3-prefix('box-orient', 'vertical');
        }
	}
    
	.nav-next-prev:hover{
		.nav-icon{
			color: $second_color;
		}
		.nav-label{
			color: $second_color;
		}
		.nav-img{
			opacity: 0.8;
		}
		.nav-title {
			color: $second_color;
		}
	}
}