.pxl-single-page p:last-child{
    clear: both;
    img[class*="align"] {
        margin-bottom: 0;
    }
}

.content-post{
	.elementor-widget-image{
		overflow: hidden;
	}
}
.pxl-single-post{
	.post-title{
		font-size: 70px;
		margin-bottom: 22px;
		text-align: center;
		@media (max-width: $md_max) {
			font-size: 60px;
		}
		@media (max-width: $sm_max) {
            font-size: 43px;
			margin-bottom: 10px;
        }
		@media (max-width: $xs_max) {
            font-size: 36px;
        }
	}
	 
	.content-inner{
		color: $body_color;
		>p:first-child{
			>iframe{
				margin-top: 8px;
			}
		}
	}
	.post-metas{
		.meta-item{
			font-size: 16px;
			font-family: $body_font_family;
			color: $heading_color;
			line-height: 1.75;
			display: flex;
			align-items: center;
			margin-right: 11px;
			@media (max-width: $xs_max) {
				font-size: 15px;
			}
			&::before{
				content: '';
				position: relative;
				width: 14px;
				height: 2px;
				background-color: $third_color;
				display: flex;
				margin-right: 11px;
			}
			&:first-child{
				&::before{
					display: none;
				}
			}
			&:last-child{
				margin-right: 0;
			}
			&.post-author{
				a{
					position: relative;
					&:after{
						content: "";
						height: 1px;
						position: absolute;
						bottom: 4px;
						left: 0;
						width: 0;
						border-bottom: 1px solid;
						transition: all 350ms;
					}
					&:hover{
						color: inherit;
						&:after{
							width: 100%;
						}
					}
				}
			}
		}
	}
	
	.post-tags{
		> span{
			font-weight: 400;
			font-size: 16px;
			line-height: 35px;
		}
	}
	.post-share-category{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.post-category{
		a{
			padding: 3.5px 21px;
		    border-radius: 4px;
		    color: $heading_color;
			border: 1px solid $border_color;
			border-radius: 17.5px;
		    &:hover{
		    	color: #fff;
		    	background-color: $second_color;
				border-color: $second_color;
		    }
		}
	}
	.post-share-category{
		margin-top: 51px;
		.post-category{
			row-gap: 10px;
		}
		@media (max-width: $sm_max) {
			flex-direction: column;
			gap: 20px;
			align-items: start;
		}
		@media (max-width: $xs_max) {
			margin-top: 35px;
		}
	}
	
}
.post-author-summary{
	border: 1px solid $border_color;
	border-radius: 6px;
	padding: 24px;
	margin-top: 30px;
	.post-author{
		margin-bottom: 16px;
	}
	.author-avatar{
		img{
			width: 48px;
			border-radius: 50%;
		}			
	}	
	.author-role{
		margin-top: 2px;
	}	
	.author-desc{
		margin-bottom: 16px;
	}
	.author-social{
		.social-item{
			a{
				color: #455873;
				font-size: 20px;
				&:hover{
					color: $primary_color;
				}
			}
		}
	}
}
.post-shares{
	position: relative;
	z-index: 1;
	margin-top: 80px;
	@media (max-width: $sm_max) {
		margin-top: 50px;
	}
    .social-share{
		display: flex;
		align-items: center;
		justify-content: space-between;
		.text{
			color: $heading_color;
			font-size: 16px;
			font-weight: 400;
			line-height: 1.5;
			display: flex;
        	align-items: center;
			&::before{
				content: "";
				position: relative;
				display: inline-block;
				width: 10px;
				height: 10px;
				border-radius: 2px;
				background-color: $primary_color;
				margin-right: 8px;
			}
		}
		.social-item{
			padding-left: 5px;
			margin-left: -12px;
			&:first-child{
				padding-left: 15px;
				margin-left: 0;
			}
		}
    	.pxl-icon{
			font-size: 16px;
			width: 32px;
			height: 32px;
			line-height: 32px;
			display: inline-block;
			text-align: center;
			border-radius: 4px;
			background-color: #000;
			backdrop-filter: blur(6px);
			border: none;
			position: relative;
			svg{
				fill: #fff;
				width: 16px;
				height: 32px;
				@include transition();
				z-index: 1;
				position: relative;
			}
			&::after{
				content: '';
				position: absolute;
				inset: -1px;
				background-color: $primary_color;
				transform: scale(0);
				@include transition();
				border-radius: 4px;
				z-index: 0;
			}
		  	&:hover{
				&::after{
					transform: scale(1);
				}
	        }
		}  
    }
} 
.post-tags-inner{
	gap: 26px;
	padding-left: 12px;
	@media (max-width: $xs_max) {
		padding-left: 15px;
	}
	a{
		font-weight: 400;
		font-size: 16px;
		line-height: 35px;
		@include multiline-hover-underline($heading_color);
		background-size: 0% 95%;
		&:hover{
			color: $heading_color;
			background-size: 100% 95%;
		}
	}
}
 
.post-author-info{
	.author-avatar{
		img{
			flex-shrink: 0;
		    max-width: 75px;
		    border-radius: 7px;
		    margin-right: 24px;
		    overflow: hidden;
		}
	}
	.author-description{
		.title-socials{
			margin-bottom: 16px;
		    @include d-flex();
		    align-items: center;
		    justify-content: space-between;
		    small{
		    	display: block;
			    font-size: 14px;
			    font-weight: normal;
		    }
			.author-name{
			 	font-size: 18px;	
			 	letter-spacing: -0.03em;
			 	color: $second_color;
			 	font-weight: 500;
			 	a{
			 		color: inherit;
			 		&:hover{
			 			color: $link_color;
			 		}
			 	}
			}
			 
		}
		 
	}
}
.post-like-area{
	border-radius: 0.375rem;
	padding: 1rem;
	.btn-group{
		border-radius: 0.375rem;
	}
	.pxl-like-trigger{
		border-top-right-radius: 0;
    	border-bottom-right-radius: 0;
	}
	.pxl-dislike-trigger{
		border-top-left-radius: 0;
    	border-bottom-left-radius: 0;
	    margin-left: -1px;
	}
} 


.pxl-related-post{
	margin-top: 120px;
	@media (max-width: $md_max) {
		margin-top: 100px;
	}
	@media (max-width: $sm_max) {
		margin-top: 80px;
	}
	@media (max-width: $xs_max) {
		margin-top: 60px;
	}
	.related-title{
		font-weight: 600;
		font-size: 70px;
		line-height: 1;
		color: $heading_color;
		margin-bottom: 0;
		@media (max-width: $md_max) {
            font-size: 60px;
			width: 100%;
			margin-bottom: 15px;
        }
        @media (max-width: $sm_max) {
            font-size: 43px;
        }
		@media (max-width: $xs_max) {
            font-size: 36px;
        }
	}
	.description-related{
		padding-left: 10px;
		@media (max-width: $md_max) {
			width: 50%;
			padding-left: 15px;
        }
		@media (max-width: $xs_max) {
			width: 100%;
        }
	}
	.related-des{
		font-weight: 400;
		font-size: 20px;
		line-height: 1.5em;
		color: #888888;
		max-width: 360px;
		display: flex;
		@media (max-width: $xs_max) {
			font-size: 16px;
		}
	}
	.ralated-box-title{
		align-items: center;
		margin-bottom: 50px;
		@media (max-width: $md_max) {
			align-items: start;
        }
	}
	.grid-item-inner{
		.item-featured{
			overflow: hidden;
			img{
				min-height: 470px;
				object-fit: cover;
				max-height: 470px;
				width: 100%;
				@include transition(all 0.5s);
				-webkit-transform: scale(1.03) translateX(-3px);
				transform: scale(1.03) translateX(-3px);
				@media (max-width: $xs_max) {
					min-height: 400px;
					max-height: 400px;
				}
			}
			&:hover{
				img{
					@include scale-image-x();
				}
			}
		}
		.item-content{
			margin-top: 22px;
		}
		.item-title{
			margin-bottom: 0;
			@include text-multi-line(28px, 1.25em, 1);
			a{
				@include multiline-hover-underline();
				background-size: 0% 90%;
				&:hover{
					background-size: 100% 90%;
				}
			}
			@media (max-width: $xs_max) {
				@include text-multi-line(22px, 1.25em, 1);
			}
		}
		.item-meta{
			font-weight: 500;
			font-size: 16px;
			line-height: 35px;
 			color: $body_color;
			text-transform: capitalize;
			.item-name{
				margin-left: 5px;
				> a{
					@include multiline-hover-underline($body_color);
				}
			}
			.item-date{
				margin-right: 5px;
			}
		}
	}
}


.pxl-content-wrap.has-sidebar{
	&.sidebar-right{
		.pxl-single-post{
			padding-right: 20px;
			@media (max-width: $lg_max) {
				padding-right: 0;
			}
		}
	}
	&.sidebar-left{
		.sidebar-area-wrap{
			padding-right: 61px;
			@media (max-width: $xxl_max) {
				padding-right: 20px;
			}
			@media (max-width: $lg_max) {
				padding-right: 0;
			}
		}
	}
	.pxl-sidebar-area{
		@media (max-width: $sm_max) {
            margin-top: 70px;
        }
	}
}

///////
body.dark-mode{
	.post-shares .social-share .pxl-icon{
		background-color: rgba(255, 255, 255, 0.25);
	}
}