.wp-block-button{
	margin-bottom: 20px;
	&.is-style-squared{
		.wp-block-button__link{
			border-radius: 0;
		}
	}
}

.wp-block-cover{
	color: $white;
}

[class*="wp-block-"]{
	margin-bottom: 30px;
	&:first-child{
		margin-top: 0;
	}
	&:last-child{
		margin-bottom: 0;
	}
}
.wp-block-pages-list__item {
	margin-bottom: 0;
}
.pxl-sidebar-area{
	[class*="wp-block-"]{
		margin-top: 0;
		margin-bottom: 0;
		&:first-child{
			margin-top: 0;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
	 
	.wp-block-latest-comments{
		[class*="wp-block-"]{
		    line-height: $body_line_height; 
		}
	}
	.widget_block{
		h2{
		    background-color: $primary_color;
	        color: #fff;
	        font-weight: 600;
	        padding: 12px 16px;
	        margin-left: -16px;
	        margin-right: -16px;
	        margin-bottom: 24px;
	        position: relative;
	        border-top-left-radius: 6px;
        	border-top-right-radius: 6px;
	        font-size: var(--heading-font-size-h5);
	        &:before{
	            content: "";
	            position: absolute;
	            top: -1px;
	            left: -1px;
	            right: -1px;
	            bottom: 0;
	            border-width: 1px 1px 0 1px;
	            border-style: solid;
	            border-color: $primary_color;
	            border-top-left-radius: 7px;
	            border-top-right-radius: 7px;
	        } 
        }
	    ul{
	        margin: 0;
	    }
	    li > a{
	    	padding: 7.5px 0;
	        display: flex;
	        flex-wrap: wrap;
	        align-items: center;
	        position: relative;
	        font-family: $heading_font_family;
	        font-size: 16px;
	        line-height: 24px;
	    }
	     
	    .wp-block-latest-posts__list{
	        margin-bottom: 0;
	    }
	}
}

.wp-block-group{
	&.has-background{
		padding: 15px 20px;
	}
	.wp-block-button + *{
		padding-top: 15px;
	}
}

.wp-block-rss{
	list-style: none;
}

.wp-block-table .has-fixed-layout{
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

.blocks-gallery-caption {margin-bottom: 30px;}
.wp-caption.alignright{margin-bottom: 0!important;}

.wp-block-quote br{
	display: none;
}
.pxl-sidebar-area .wp-block-latest-comments{
	li{
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.pxl-sidebar-area .wp-block-latest-comments [class*="wp-block-"]{
	padding-top: 0;
	padding-bottom: 0;
}
.widget_block.widget_search{
	border: 0;
	padding: 0;
}
.wp-block-search__label{
    display: none;
}
.wp-block-search__inside-wrapper{
    position: relative;
    .wp-block-search__input{
    	padding-right: 50px;
        background-color: transparent;
        border-color: $border_color;
    }
    .wp-block-search__button{
        padding: 0;
        margin: 0;
        position: absolute;
        top: 6px;
        right: 6px;
        width: 43px;
        height: 43px;
        line-height: 1;
        border-color: transparent;
        border-radius: 6px;
        font-size: 0;
        @include transition(all .3s ease);
        @media (max-width: $sm_max){
            top: 4px;
            right: 5px;
            width: 40px;
            height: 40px;
        }
        [dir="rtl"] &{
            right: auto;
            left: 6px;
        }
        &:not(.has-icon){
	        &:before{
	        	content: "\ea11";
	            font-size: 14px;
	            display: inline-block;
	            line-height: 1;
	            font-family: $pxli_font !important;
	            speak: never;
	            font-style: normal;
	            font-weight: normal;
	            font-variant: normal;
	            text-transform: none;
	        }
	    }
        &:active,&:hover, &:focus {
        	background-color: $primary_color;
            color: #fff;
        }
    }
    &:active,&:hover, &:focus {
        [type="submit"] { 
            background-color: $primary_color;
            color: #fff;
        }
    }
}
ul.wp-block-archives{
	list-style: none;
}
blockquote,
.wp-block-quote{
	a{
		color: $second_color;
		&:hover{
			color: #fff;
		}
	}
}