.pxl-cursor-icon{
    position: absolute;
    width: 24px;
    height: 24px;
    user-select: none;
    pointer-events: none;
    z-index: 99;
    opacity: 0;
    @include transform(scale(0.5));
    transform-origin: center;
    color: #000;
    font-size: 24px;
    line-height: 1; 
    transition: transform 0.3s linear, opacity 0.2s linear ;
    display: inline-block;
    @media (max-width: $xs_max){
        width: 18px;
        height: 18px;
        font-size: 17px;
    }
    .pxl-icon{
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        &:before,
        &:after{
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            top: 50%;
            left: 0;
            margin-top: -1px;
            background-color: $second_color;
            transform-origin: 50% 50%;
            opacity: 1;
            @include transition(transform ease 0.25s);
        }
        &:before{
            @include transform(rotate(45deg));
        }
        &:after{
            @include transform(rotate(-45deg));
        }
    }
    &.active {
        position: fixed !important;
        opacity: 1;
        @include transform(scale(1));
    }
    &.hide{
        display: none;
    }
}

.pxl-page-overlay{
    .pxl-cursor-icon{
        .pxl-icon{
            &:before,
            &:after{
                background-color: #fff;
            }
        }
    }
} 
.pxl-hidden-template{
    .pxl-cursor-icon{
        .pxl-icon{
            &:before,
            &:after{
                background-color: #fff;
            }
        }
    }
} 

.cursor-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    pointer-events: none;
    opacity: 0;
    @media (max-width: $lg_max){
        width: 100px;
        height: 100px;
    }
    @media (max-width: $xs_max){
        width: 80px;
        height: 80px;
    }
}
.cursor-media {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s;
}

.cursor-media.active {
    opacity: 0.8;
}