.clipped-bg-pinned{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.clipped-bg{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    clip-path: inset(0% 5% 0% 5%);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
.scrollbar-track {
    position: absolute;
    opacity: 0;
    z-index: 1;
    background: rgba(222, 222, 222, .75);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.5s 0.5s ease-out;
    transition: opacity 0.5s 0.5s ease-out;
}
.scrollbar-track-y {
    top: 0;
    right: 0;
    width: 8px;
    height: 100%;
}
.scrollbar-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, .5);
    border-radius: 4px;
}

.elementor-editor-active{
    .pxl-draw-from-top img, 
    .pxl-draw-from-top .parallax-inner{
        clip-path: inset(0 0 0 0);
    }
    .pxl-draw-from-left img, 
    .pxl-draw-from-left .parallax-inner{
        clip-path: inset(0 0 0 0);
    }
    .pxl-draw-from-right img, 
    .pxl-draw-from-right .parallax-inner{
        clip-path: inset(0 0 0 0);
    }

    .pxl-skew-in,
    .pxl-skew-in-right{
        visibility: visible;
    }
    .pxl-move-from-left,
    .pxl-move-from-right{
        clip-path: none;
    }
    .pxl-move-from-left img,
    .pxl-move-from-right img{
        @include transform(none);
    }

    .pxl-invisible{
        visibility: visible;
    }
}
.mx-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}
      
.dialog-type-lightbox{
    z-index: 99999;
}
body.admin-bar .dialog-type-lightbox{
    position: fixed;
}

.elementor-lightbox .dialog-lightbox-close-button{
    z-index: 99;
}
body {
    background-size: contain;
    background-repeat: repeat;
}
