.pxl-swiper-initialized{
    .pxl-swiper-loader{
        display: none;
    }
} 
.pxl-swiper-loader{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    @include d-flex();
    align-items:center;
    justify-content:center;
    z-index: 1;
    .five-dots{
        display: flex;
        column-gap: 10px;
        z-index: 1;
        .dot{
            width: 10px;
            height: 10px;
            background: #ffffff;
            border-radius: 100%;
            display: inline-block;
            animation: slideLoading 1s infinite;
            @media (max-width: $lg_max){
                width: 8px;
                height: 8px;
            }
            @media (max-width: $sm_max){
                width: 5px;
                height: 5px;
            }
        }
    }
}
.swiper-filter-wrap{
    margin-bottom: 60px;
    column-gap: 40px;
    row-gap: 5px;
    @media (max-width: $lg_max){
        margin-bottom: 40px;
        column-gap: 30px;
    }
    @media (max-width: $md_max){
        column-gap: 30px;
    }
    .filter-item{
        font-family: $heading_font_family;
        font-size: 18px;
        line-height: 1.444;
        font-weight: 500;
        color: $heading_color;
        cursor: pointer;
        @include transition();
        @media (max-width: $lg_max){
            font-size: 16px;
        }
        &.active,&:hover{
        }
    }
}
@each $key, $val in (1: #c1bfbf , 2: #c1bfbfbf , 3: #c1bfbf8c, 4 : #c1bfbf59, 5 : #c1bfbf45) {
    .pxl-swiper-loader .five-dots .dot:nth-child(#{$key}){
        animation-delay: #{$key * .1s};
        background: #{$val};
    }
}

$slider-outer-space: 0;
.pxl-swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: visible;
    z-index: 0;
}

.pxl-swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
    @include transition(transform .4s linear);
    -webkit-box-sizing: content-box;
    box-sizing: content-box;

}


.pxl-swiper-slide {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.non-swiper-slide {
    display: none;
}

.swiper-container-multirow-column > .pxl-swiper-wrapper {
    flex-wrap: wrap;
    flex-direction: column;

    .pxl-swiper-slide {
        height: calc((100% - 40px) / 2);
    }
}

.swiper-container-multirow-row > .pxl-swiper-wrapper {
    flex-wrap: wrap;
    flex-direction: row;

    .pxl-swiper-slide {
        height: calc((100% - 40px) / 2);
    }
}

.swiper-container-vertical > .pxl-swiper-wrapper {
    flex-direction: column;
}

 
.swiper-slide img {
    display: block;
}

.swiper-container-cube .swiper-cube-shadow {
    display: none;
    opacity: 0;
    visibility: hidden;
}
.pxl-swiper-arrows.custom{
    display: flex;
}
.pxl-swiper-arrow {
    font-size: 20px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    @include transition(all .3s ease);
    &:hover{
        color: $primary_color;
    }
    .pxl-icon {
        line-height: 1;
        span{
            display: flex;
            @include transition(all .3s ease);
        }
    }
    svg{
        width: 1em;
        height: 1em;
        @include transition(fill .3s ease);
        path{
            @include transition(stroke .3s ease);
        }
    }
    &.swiper-button-disabled {
        cursor: not-allowed;
    } 
}
.pxl-swiper-arrow-prev .cmli-noun-arrow{
    @include transform(rotate(180deg));
}
  
.nav-in-vertical,
.nav-out-vertical{
    .pxl-swiper-arrow{
        position: absolute;
        top: 50%;
        @include transform(translate(0, -50%));
    }
}

.nav-in-vertical{
    .pxl-swiper-arrow-prev {
        left: 30px;
    }
    .pxl-swiper-arrow-next {
        right: 30px;
    }
    &.arrow-on-hover{
        .pxl-swiper-arrow-prev{
            opacity: 0;
            @include transform(translate(50px, -50%));
            @include transition(all .3s linear 0s);
        }
        .pxl-swiper-arrow-next{
            opacity: 0;
            @include transform(translate(-50px, -50%));
            @include transition(all .3s linear 0s);
        }
    }
}
.nav-out-vertical{
    .pxl-swiper-arrow-prev {
        left: -23px;
        @media (max-width: $lg_max){
            left: 15px;
            opacity: 0;
            @include transform(translate(-50px, -50%));
            @include transition(all .3s linear 0s);
        }
    }

    .pxl-swiper-arrow-next {
        right: -23px;
        @media (max-width: $lg_max){
            right: 15px;
            opacity: 0;
            @include transform(translate(50px, -50%));
            @include transition(all .3s linear 0s);
        }
    }
    
    &.arrow-on-hover{
        .pxl-swiper-arrow-prev{
            opacity: 0;
            @include transform(translate(50px, -50%));
            @include transition(all .3s linear 0s);
        }
        .pxl-swiper-arrow-next{
            opacity: 0;
            @include transform(translate(-50px, -50%));
            @include transition(all .3s linear 0s);
        }
    }
}
 
.pxl-swiper-slider:hover,
.pxl-swiper-slider:focus{
    .nav-in-vertical,
    .nav-out-vertical{
        @media (max-width: $lg_max){
            .pxl-swiper-arrow-prev,
            .pxl-swiper-arrow-next {
                opacity: 1;
                @include transform(translate(0, -50%));
            }
        } 
        &.arrow-on-hover{
            .pxl-swiper-arrow-prev,
            .pxl-swiper-arrow-next{
                opacity: 1;
                @include transform(translate(0, -50%));
            }
        }
    }
} 
.enable-cursor{
    .pxl-swiper-arrow{
        &.cursor-arrow-prev{
            height: 100%;
            background-color: transparent;
            cursor: none;
            @media (min-width: $xl_min){
                width: calc( (100vw - 1170px)/2) !important;
                left: calc( (100vw - 1170px)/-2) !important;
            }
            &:before{
                display: none;
            }
            span{
                display: none;
            }
            &.swiper-button-disabled {
                cursor: not-allowed;
            }
        }
        &.cursor-arrow-next{
            right: 0;
            width: 104px;
            height: 120%;
            background-color: transparent;
            cursor: none;
            @media (min-width: $xl_min){
                width: calc( (100vw - 1170px)/2) !important;
                right: calc( (100vw - 1170px)/-2) !important;
            }
            &:before{
                display: none;
            }
            span{
                display: none;
            }
            &.swiper-button-disabled {
                cursor: not-allowed;
            }
        }
    }
}

.pxl-swiper-dots {
    &.style-bullets{
        position: relative;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        column-gap: 8px;
        row-gap: 8px;
        .pxl-swiper-pagination-bullet {
            flex: 0 0 4px;
            width: 4px;
            height: 4px;
            line-height: 4px;
            text-align: center;
            cursor: pointer;
            position: relative;
            background-color: rgba(20, 31, 87, 0.18);
            @include transition( all 0.25s linear);
            &:hover,
            &.swiper-pagination-bullet-active {
                background-color: $primary_color; 
            }
        }
    }
    &.swiper-pagination-vertical{
        flex-direction: column;
        .pxl-swiper-pagination-bullet {
            &:hover,
            &.swiper-pagination-bullet-active {
                flex: 0 0 40px;
                width: 4px;
                height: 40px;
                line-height: 40px;
            }
        }
    }
    &.swiper-pagination-horizontal{
        .pxl-swiper-pagination-bullet {
            &:hover,
            &.swiper-pagination-bullet-active {
                flex: 0 0 40px;
                width: 40px;
                height: 4px;
                line-height: 40px;
            }
        }
    }
    &.style-bullets-number{
        position: relative;
        z-index: 1;
        width: auto;
        height: auto;
        .swiper-pagination-custom-number{
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            color: #525252;
        }
        .swiper-pagination-custom-bullets{
            position: relative;
            z-index: 1;
            display: flex;
            flex-wrap: wrap;
            margin-top: 8px;
            .pxl-swiper-pagination-bullet {
                flex: 0 0 111.5px;
                width: 111.5px;
                height: 2px;
                line-height: 111.5px;
                text-align: center;
                position: relative;
                background-color: rgba(0, 0, 0, 0.10);
                @include transition( all 0.25s linear);
                @media (max-width: $md_max) {
                    flex: 0 0 80px;
                    width: 80px;
                    line-height: 80px;
                }
                @media (max-width: $xs_max) {
                    flex: 0 0 40px;
                    width: 40px;
                    line-height: 40px;
                }
                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 0%;
                    height: 2px;
                    background-color: #000;
                }
                &.swiper-pagination-bullet-active {
                    &::before{
                        animation: bullet-progress 350ms ease forwards;
                    }
                }
            }
        }
    } 
}
.pxl-swiper-dots-color-mode-white{
    .pxl-swiper-dots.style-bullets-number .pxl-swiper-pagination-bullet:after{
        background-color: #bababa;
    }
    .pxl-swiper-dots.style-bullets .pxl-swiper-pagination-bullet:before{
        background-color: #bababa;
    }
    .pxl-swiper-dots.style-bullets .pxl-swiper-pagination-bullet:after{
        background-color: #fff;
    }
    .pxl-swiper-dots.style-bullets .pxl-swiper-pagination-bullet:hover, 
    .pxl-swiper-dots.style-bullets .pxl-swiper-pagination-bullet.swiper-pagination-bullet-active{
        @include box-shadow(0px 0px 0px 1px rgba(#fff, 0.4));
    }
}
.pxl-swiper-dots-color-mode-white-primary{
    .pxl-swiper-dots.style-bullets-number .pxl-swiper-pagination-bullet:after{
        background-color: #bababa;
    }
    .pxl-swiper-dots.style-bullets .pxl-swiper-pagination-bullet:before{
        background-color: #bababa;
    }
    .pxl-swiper-dots.style-bullets .pxl-swiper-pagination-bullet:after{
        background-color: $primary_color;
    }
    .pxl-swiper-dots.style-bullets .pxl-swiper-pagination-bullet:hover, 
    .pxl-swiper-dots.style-bullets .pxl-swiper-pagination-bullet.swiper-pagination-bullet-active{
        @include box-shadow(0px 0px 0px 1px rgba(#{'var(--primary-color-rgb)'}, 0.4));
    }
}
.pxl-swiper-pagination-progressbar{
    background: #fff;
    width: 100%;
    max-width: 544px;
    height: 4px;
    position: absolute;
    left: 50%;
    @include transform(translate(-50%,0));
    bottom: -80px;
    @media (max-width: $lg_max){
        bottom: -50px;
    } 
    .swiper-pagination-progressbar-fill{
        background: $primary_color;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: scale(0);
        transform-origin: left top;
    } 
} 
