.pxl-scroll-top {
	position: fixed;
	z-index: 99;
	bottom: 24px;
	right: 30px;
	height: 45px;
	width: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: $primary_color;
	opacity: 0;
	visibility: hidden;
    @media (max-width: 1199px){
		height: 40px;
    	width: 40px;
    	line-height: 40px;
	}
	.pxl-scroll-progress-circle {
		position: absolute;
		top: 50%;
		left: auto;
		right: auto;
		z-index: -1;
		transform: translateY(-50%);
		path {
			fill: none;
			stroke-width: 3;
			box-sizing: border-box;
			-webkit-transition: all 200ms linear;
			transition: all 200ms linear;
			stroke: #fff;
		}
	}
	span{
		font-size: 16px;
		position: relative;
		top: -1px;
		position: relative;
		@include animation(icon-bounce 2s linear 0s infinite);
		color: #fff;
	}
	&:hover{
		span{
			@include animation(Bottomup .6s forwards);
		} 
	}
	&.on {
		bottom: 44px;
		opacity: 1;
		visibility: visible;
	}
	[dir="rtl"] &{
		right: auto;
		left: 20px;
	}
	&.custom-style-1{
		overflow: hidden;
		height: 52px;
    	width: 52px;
		border-radius: 50%;
		border: 1px solid transparent;
		background:
		linear-gradient(180deg, #151515 0%, #0A0A0A 66.25%) padding-box,
		linear-gradient(180deg, rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 0) 60%) border-box;
		.pxl-icon{
			font-size: 24px;
			rotate: 180deg;
			&::before{
				content: "\ea27";
			}
		}
		.pxl-scroll-progress-circle{
			path{
				stroke: $primary_color;
			}
		}
		@media (max-width: $sm_max) {
			height: 45px;
    		width: 45px;
			.pxl-icon{
				font-size: 17px;
			}
		}
	}
	@-moz-document url-prefix() {
		.pxl-scroll-progress-circle path {
			transition: none !important;
		}
	}

}

  
.pxl-footer{
	&.pxl-footer-fixed{
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}
	&.pxl-footer-absoluted{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}
	&.footer-type-df{
		a{
	        color: #616277;  
	        &:hover{
	            color: #616277;  
	        }
	    }
	}
	 
}

.pxl-footer-bottom{
    border-top: 1px solid #e0e1e6;
	padding-top: 24px;
	padding-bottom: 24px;
	color: #616277; 
	font-size: 14px;
}
 
.pxl-copyright-text{
	a{
		font-weight: 700;
	}
}
.footer-bottom{
	color: #616277; 
	font-size: 14px;
	.elementor-widget-text-editor{
		a{
			color: #616277;  
		}
	}
}

.pxl-footer .pxl-primary-menu > li > a span:before{
	display: none;
}

