.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

embed,
iframe,
object {
    max-width: 100%;
}

.custom-logo-link {
    display: inline-block;
}
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
    img[class*="wp-image-"] {
        display: block;
        margin-left: auto;
        margin-right: auto;
    } 
}
.wp-caption-text {
    padding-top: 12px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.025em;
    color: $gray;
    font-style: italic;
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 0px;
    overflow: hidden;
    position: absolute;
    width: 0px;
    word-wrap: normal;
    visibility: hidden;
    opacity: 0;
    display: none;
}

.gallery-caption {
    display: block;
    text-align: left;
    padding: 0 10px 0 0;
    margin-bottom: 0;
}

.gallery {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 25px;
    margin-top: 28px;
}

.gallery-item {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 0 0 1em;
    padding: 0 10px;
    width: 50%;
    .gallery-icon{
        overflow: hidden;
    }
}
.gallery-caption {
    display: block;
    text-align: left;
    padding: 0 10px 0 0;
    margin-bottom: 0;
    margin-top: 8px;
}
.wp-block-gallery{
    &.aligncenter, &.alignleft, &.alignright{
        display: flex;
    }
    &.alignfull{
        margin-bottom: 20px;
        .blocks-gallery-caption{
            margin-bottom: 20px;
        }
    }
    &.alignleft{
        margin-right: 20px;
    }
}

#primary:not(.content-has-sidebar){
    .wp-block-gallery{
        &.alignfull{
            width: 100vw;
            .blocks-gallery-grid{
                position: relative;
                left: calc(-12.5% - 128px);
                width: calc(125% + 150px);
                max-width: calc(125% + 150px);
            }
        }
    }
}

.gallery-columns-1{
    .gallery-item{
        width: 100%;
    }
}
.gallery-columns-3{
    .gallery-item{
        @media (min-width: 480px){
            width: 33.333333%;
        }
    }
}
.gallery-columns-4{
    .gallery-item{
        @media (min-width: 480px){
            width: 25%;
        }
    }
}
.gallery-columns-5{
    .gallery-caption{
        display: none;
    }
    .gallery-item{
        @media (min-width: 480px){
            width: 25%;
        }
        @media (min-width:$md_min){
            width: 20%;
        }
    }
}
.gallery-columns-6{
    .gallery-caption{
        display: none;
    }
    .gallery-item{
        @media (min-width: 480px){
            width: 25%;
        }
        @media (min-width:$md_min){
            width: 16.66%;
        }
    }
}
.gallery-columns-7{
    .gallery-caption{
        display: none;
    }
    .gallery-item{
        @media (min-width: 480px){
            width: 25%;
        }
        @media (min-width:$md_min){
            width: 14.28%;
        }
    }
}
.gallery-columns-8{
    .gallery-caption{
        display: none;
    }
    .gallery-item{
        @media (min-width: 480px){
            width: 25%;
        }
        @media (min-width:$md_min){
            width: 12.5%;
        }
    }
}
.gallery-columns-9{
    .gallery-caption{
        display: none;
    }
    .gallery-item{
        @media (min-width: 480px){
            width: 25%;
        }
        @media (min-width:$md_min){
            width: 11.11%;
        }
    }
}
.gallery-caption {
    display: block;
}
.wp-block-gallery{
    &.aligncenter, &.alignleft, &.alignright{
        display: flex;
    }
}
.elementor-lightbox{
    .elementor-swiper-button{
        [class*=" eicon-"], [class^=eicon]{
            font-family: 'pxli';
        }
        .eicon-chevron-right:before{
            content: "\e9c8";
        }
        .eicon-chevron-left:before{
            content: "\e9c5";
        }
    }
}
