.pxl-page-title-overlay{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(#020d16,0.5);
	z-index: -1;
}
.pxl-pagetitle.layout-df{
	background-color: rgba(#020d16,0.75);
    background-position: center 80%;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    color: #fff;
    overflow: hidden;
	.main-title{
		font-size: 55px;
    	line-height: 1.36363636364;
		color: $light;
	    margin-bottom: 8px;
        word-wrap: break-word;
        position: relative;
        text-align: center;
        @media (max-width: $xl_max){
        	font-size: 50px;
        }
        @media (max-width: $lg_max){
        	font-size: 42px;
        }
        @media (max-width: $md_max){
        	font-size: 38px;
        }
        @media (max-width: $sm_max){
        	font-size: 36px;
        }
        @media (max-width: $xs_max){
        	font-size: 32px;
        }
	}
	.sub-title{
		color: #fff;
		text-align: center;
		max-width: 746px;
	}

	&.pxl-animate{
		.pxl-page-title .main-title:after{
			clip-path: inset(0 0 0 0);
		}
	}
	.pxl-breadcrumb{
		display: flex;
		flex-wrap: wrap;
	    margin-top: 60px;
    	margin-bottom: -50px;
    	  
	    .breadcrumb-inner{
	    	@include d-flex();
	    	align-items: center;
	    }
		.br-item{
			flex: 0 0 auto;
			max-width: 100%;
			color: #fff;
			display: inline-flex;
			align-items:center;
			a{
				color: #fff;
			}
			&:last-child{
				.br-divider{
					display: none!important;
				}
			}
		}
		.br-divider{
			font-size: 14px;
			margin: 0 12px;
			display: inline-flex;
			@media (max-width: $sm_max){
		    	font-size: 12px;
		    }
		}
		.br-item+.br-item::before{
			display: none;
		}
	}
}
  
.pxl-pt-wrap{
    .main-title {
    	font-size: 80px;
    	line-height: 1;
        word-wrap: break-word;
        position: relative;
        text-align: center;
		margin-left: auto;
    	margin-right: auto;
		font-weight: 500;
		letter-spacing: -2.4px;
		background: linear-gradient(180deg, #FAFAFA 0%, rgba(250, 250, 250, 0.70) 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin-bottom: 0;
		padding-bottom: 6px;
        @media (max-width: $lg_max){
        	font-size: 70px;
        }
        @media (max-width: $md_max){
        	font-size: 60px;
        }
        @media (max-width: $sm_max){
        	font-size: 50px;
			letter-spacing: 0;
        }
        @media (max-width: $xs_max){
        	font-size: 40px;
        }
    }
    .sub-title{
		color: #fff;
		text-align: center;
		max-width: 860px;
		margin: auto;
		margin-top: 10px;
	}
}  
.pxl-breadcrumb{
	display: flex;
	flex-wrap: wrap;
    .breadcrumb-inner{
    	@include d-flex();
    	align-items: center;
    }
	.br-item{
		flex: 0 0 auto;
		max-width: 100%;
		font-size: 14px;
		font-weight: 500;
		line-height: 1.42857142857;
		display: inline-flex;
		align-items:center;
		color: #FAFAFA;
		a{
			color: rgba(250, 250, 250, 0.70);
			font-weight: 400;
			&::after{
				bottom: 2px;
			}
		}
		&:last-child{
			.br-divider{
				display: none!important;
			}
		}
	}
	.br-divider{
		font-size: 14px;
		margin: 0 8px;
		display: inline-flex;
		color: rgba(250, 250, 250, 0.70);
		@media (max-width: $sm_max){
	    	font-size: 12px;
	    }
	    svg{
	    	width: 14px;
	    	height: auto;
	    	fill: rgba(250, 250, 250, 0.70);
	    }
	}
	.br-item+.br-item::before{
		display: none;
	}
}