.pxl-page-overlay{  
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000000,0.4);
    opacity: 0;
    visibility: hidden;
    cursor: none;
    @include transition(all .3s cubic-bezier(0.52, 0.51, 0.66, 0.65));
    &.active{
        opacity: 1;
        visibility: visible;
    } 
    @media (max-width: $md_max){
        &.active-mobile{
            opacity: 1;
            visibility: visible;
        } 
    } 
}
.admin-bar .pxl-hidden-template{
    top: 32px;
    height: calc(100% - 32px);
    @media screen and (max-width: 782px) {
        top: 46px;
        height: calc(100% - 46px);
    }

}
.pxl-hidden-template{
	display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    padding: 0;
    background: var(--tpl-bg-color);
    right: 0;
    will-change: transform;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    opacity: 0; 
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
    .pxl-panel-header {
        .panel-header-inner{
            @include d-flex();
            align-items: center;
        }
    }
    .pxl-panel-content{
        position: relative;
        flex: 1;
    }
    &::-webkit-scrollbar{
        height: 0;
        width: 0;
        background-color: transparent;
    }

    &::-webkit-scrollbar-track{
        border-radius: 0;
    }
     
    &::-webkit-scrollbar-thumb{
        border-radius: 0;
        background-color: transparent;
    }

    &:hover::-webkit-scrollbar {
        width: 0;
        height: auto;
        background-color: rgba(255,255,255,0.1);
        border-radius: 0
    }
    &:hover::-webkit-scrollbar-thumb{
        background-color: rgba(48, 48, 48, 0.1);
    }
}

.pxl-close{
    position: absolute;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    z-index: 1;
    @include transition(all .3s ease);
    &:before,
    &:after{
        content: '';
        position: absolute;
        height: 2px;
        width: 50%;
        top: 50%;
        left: 25%;
        margin-top: -1px;
        background-color: $dark;
        transform-origin: 50% 50%;
        opacity: 1;
        @include transition(transform ease 0.25s);
    }
    &:before{
        @include transform(rotate(45deg));
    }
    &:after{
        @include transform(rotate(-45deg));
    }
    &:hover{
        &:before,
        &:after{
            @include transform(rotate(0deg));
        }
    }
}

.pxl-panel-content{
    .menu-main-container-wrap{
        padding: 0;
        min-height: calc(100% - 50px);
        @include d-flex();
        flex-direction: column;
    }
}
.pxl-hidden-template{
    &.el-builder{
        &.pxl-user-login,
        &.pxl-side-mobile{
            .elementor-column-gap-default > .elementor-column.elementor-element > .elementor-element-populated{
                padding: 0;
            }
            .elementor-section-boxed .elementor-inner-section > .elementor-column-gap-default{
                margin: 0;
            }
        }
    }
     
    &.pos-full{
        @include transition(all 0.5s linear 0s);
        clip-path: inset(0 100% 0 100%);
        .pxl-close{
            top: 40px;
            right: 50px;
            width: 40px;
            height: 40px;
            &:before, &:after{
                height: 1px;
                width: 100%;
                left: 0;
            }
            @media (max-width: $md_max){
                top: 30px;
                right: 30px;
                width: 20px;
                height: 20px;
            }
        }
        &.open{
            clip-path: inset(0 0 0 0);
        }
    }
     
    &.pxl-user-login{
        .pxl-close{
            &:before,
            &:after{
                background-color: $primary_color;
            }
        }
    }
     
    &.pxl-side-mobile{
        background-color: #fff;
        .pxl-close{
            top: 34px;
            right: 20px;
            @media (max-width: $xs_max){
                right: 10px;
            }
            &:before,
            &:after{
                background-color: $second_color;
            }
        }

        .pxl-mobile-menu .main-menu-toggle{
            color: $second_color;
        }
    }
    &.mobile-panel-df{
        padding: 30px 30px 30px 30px;
        .pxl-logo{
            max-width: 165px;
            margin-bottom: 32px;
        }
    }
    &.pxl-hidden-sidebar{
        .pxl-close{
            top: 22px;
            right: 15px;
            @media (max-width: $xs_max){
                top: 15px;
                right: 15px;
            }
        }
    }
}
 
.pxl-hidden-template.pos-left{
    width: 100%;
    max-width: 300px;
    right: auto;
    left: 0;
    @include transform(translate(-100%,0));
    @media (max-width: $xs_max){
        width: 90%;
    }  
    &.pxl-hidden-sidebar{
        max-width: 490px;
    }
    .pxl-close{
        right: 20px;
        top: 20px;
        @media (max-width: $xs_max) {
            right: 15px;
            top: 10px;
        }
    }
}

.pxl-hidden-template.pos-right{
    width: 100%;
    max-width: 500px;
    right: 0;
    left: auto;
    background-color: #fff;
    @include transform(translate(100%,0));
    @media (max-width: $xs_max){
        width: 90%;
    }
    .pxl-hidden-template-wrap{
        position: relative;
        padding: 64px 52px;
        @media (max-width: $xs_max){
            padding: 48px 15px;
        }
        @media (max-width: $xs_screen){
            padding: 48px 0;
        }
    } 
    
    .pxl-close{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 0;
        outline: none;
        border-radius: 0;
        opacity: 1;
        color: #fff;
        display: flex;
        justify-content: center;
        background-image: none;
        background: $primary_color;
        z-index: 1;
        &:before,
        &:after{
            width: 50%;
            background-color: #fff;
            left: 50%;
            margin-left: -10px;
        }
    }
     
}

.pxl-hidden-template.pos-top{
    width: 100%;
    max-height: max-content;
    left: 0;
    right: 0;
    @include transform(translate(0,-100%));
    .pxl-panel-header {
        padding: 0;
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 1;
    }
    .pxl-close{
        top: 10px;
        right: 10px;
        &::before, &::after{
            background-color: $primary_color;
        }
    }
}
.pxl-hidden-template.pos-center{
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    flex-wrap: wrap; 
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: transparent;
    @media (max-width: $sm_max){
        left: 15px;
        right: 15px;
        width: calc(100% - 30px);
    }
    .pxl-hidden-template-wrap{
        width: 100%;
        max-width: 870px;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        @include transition(all .3s ease);
        @include transform(scale(0.6));
        max-height: 90vh;
        overflow-y: auto;
        scrollbar-width: none;
        @media (max-width: $lg_max){
            max-width: 670px;
        }
        &::-webkit-scrollbar{
            height: 0;
            width: 0;
            background-color: transparent;
        }

        &::-webkit-scrollbar-track{
            border-radius: 0;
        }
         
        &::-webkit-scrollbar-thumb{
            border-radius: 0;
            background-color: transparent;
        }

        &:hover::-webkit-scrollbar {
            width: 0;
            height: auto;
            background-color: rgba(255,255,255,0.1);
            border-radius: 0
        }
        &:hover::-webkit-scrollbar-thumb{
            background-color: rgba(48, 48, 48, 0.1);
        }
    } 
    .pxl-panel-header {
        padding: 0;
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 1;
    }
     
    .pxl-close{
        top: 15px;
        right: 15px;
    }
    &.open{
        .pxl-hidden-template-wrap{
            @include transform(scale(1));
        }
    }
}
.pxl-hidden-template.pos-full{
      
    .pxl-panel-header {
        padding: 0;
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 1;
    }
    .pxl-hidden-template-wrap{
        @include transform(scale(0.6));
        @include transition(all .3s ease);
    }
    .pxl-panel-content{
        padding: 0;
    }
    &.open{
        .pxl-hidden-template-wrap{
            @include transform(scale(1));
        }
    }
}
.pxl-hidden-template.pos-custom{
    width: 100%;
    max-width: 447px;
    top: var(--hd-top-offset);
    right: var(--hd-right-offset);
    bottom: var(--hd-bottom-offset);
    left: var(--hd-left-offset);
    @include transform(translate(100%,0));
    @media (max-width: $lg_max){
        top: var(--hd-top-offset-mobile);
        right: var(--hd-right-offset-mobile);
        bottom: var(--hd-bottom-offset-mobile);
        left: var(--hd-left-offset-mobile);
    }
    @media (max-width: $xs_max){
        width: 90%;
    }
    .pxl-close{
        background-color: $second_color;
    }
}
.pxl-hidden-template.open{
    @include transform(translate(0,0));
    opacity: 1;
    z-index: 99999;
}

$menu_arrows_down: '\e91d';
$menu_arrows_up: '\e920';
.pxl-side-menu{
    width: 100%;
    max-width: 400px;
    left: auto;
    right: 0;
    @include transform(translateX(100%));
    .pxl-panel-header{
        padding: 30px 40px 0 40px;
        position: relative;
        z-index: 1;
    }
    .pxl-panel-content{
        padding: 0 25px 40px;
    }
}
.pxl-popup-menu{
    >.pxl-panel-content > .container > div.elementor{
        max-width: 25%;
    }
    .elementor-section,
    .elementor-section .elementor-container,
    .elementor-column, 
    .elementor-column-wrap,
    .elementor-widget-wrap,
    .elementor-widget{
        position: static;
    }
}
.admin-bar .pxl-side-cart{
    height: auto;
    top: 50%;
}  
.phb-review-form-wrap{
    .pxl-hidden-template-wrap{
        background-color: #fff;
    }
}