 .pxl-primary-menu {
 	padding: 0;
 	margin: 0;
 	list-style: none;
 	margin-left: $menu_item_space / -2;
 	margin-right: $menu_item_space / -2;
 	display: flex;
 	flex-wrap: wrap;

 	ul,
 	ol {
 		list-style: none;
 		padding: 0;
 		margin: 0;
 	}

 	li {
 		position: relative;
 		padding: 0;
 		flex: 0 0 100%;
 		width: 100%;
 		max-width: 100%;

 		&:hover {
 			>.sub-menu {
 				visibility: visible;
 				opacity: 1;
 				@include transform(perspective(500px) rotateY(0));
 			}
 		}

 		.main-menu-toggle {
 			display: none;
 		}
 	}

 	>li {
 		cursor: pointer;
 		flex: 0 0 auto;
 		width: auto;
 		margin: 0 $menu_item_space / 2;
 		display: inline-flex;

 		&:after {
 			content: "";
 			width: 100%;
 			height: 20px;
 			position: absolute;
 			left: 0;
 			bottom: -15px;
 			z-index: 2;
 		}

 		>a {
 			color: $menu_regular;
 			font-size: $menu_font_size;
 			font-weight: $menu_font_weight;
 			font-family: $menu_font_family;
 			line-height: 1.42857142857;
 			letter-spacing: $menu_letter_spacing;
 			position: relative;
 			display: inline-flex;
 			align-items: center;

 			.pxl-icon {
 				width: 10px;
 				height: auto;
 				font-size: 14px;
 				display: inline-flex;
 				position: absolute;
 				top: 50%;
 				left: -18px;
 				opacity: 0;
 				@include transform(scaleY(0) translateY(-50%));
 				@include transition(all .3s ease);
 			}

 			svg {
 				width: 24px;
 				height: auto;
 				display: inline-flex;
 				position: absolute;
 				top: 50%;
 				left: -24px;
 				opacity: 0;
 				@include transform(scaleY(0) translateY(-50%));
 				@include transition(all .3s ease);
 				fill: $second_color;
 			}
 		}

 		&.active,
 		&.current-menu-item,
 		&.current-menu-ancestor,
 		&:hover {

 			>a,
 			>.main-menu-toggle {
 				color: $menu_active;
 			}

 			>a {

 				.pxl-icon,
 				svg {
 					opacity: 1;
 					@include transform(scaleY(1) translateY(-50%));
 				}
 			}
 		}
 		&.pxl-megamenu {

 			&.current-menu-item,
 			&.current-menu-ancestor {
 				&:before {
 					width: 0;
 					height: 0;
 					@include transition(width .8s ease 0s, height .3s ease 0.3s);
 				}
 			}
 		}

 		>.main-menu-toggle {
 			line-height: 1;
 			align-self: center;
 			margin-left: 6px;
 			font-weight: normal;
 			color: $menu_regular;
 			font-size: $menu_arrow_size;
 			@include transition();

 			&:before {
 				font-family: $pxli_font;
 				content: $menu_arrows_down;
 				@include transition();
 				display: inline-block;
 			}

 			[dir="rtl"] & {
 				margin-left: 0;
 				margin-right: 8px;
 			}
 		}

 		>.sub-menu {
 			left: -15px;

 			[dir="rtl"] & {
 				left: auto;
 				right: -15px;
 			}
 		}

 		&.active,
 		&:hover {

 			>a,
 			>.main-menu-toggle {
 				color: $menu_hover;

 				.pxl-menu-title:after {
 					background: $menu_hover;
 				}
 			}

 			>.main-menu-toggle {
 				&:before {
 					transform: rotate(180deg);
 				}
 			}
 		}

 	}

 	.sub-menu:not(.pxl-mega-menu) {
 		padding: 15px;
 	}

 	.sub-menu {
 		width: $sub_menu_w;
 		color: $submenu_regular;
 		background-color: $submenu_bg;
 		background-repeat: repeat-x;
 		background-position: top left;
 		position: absolute;
 		top: calc(100% + 10px);
 		left: 100%;
 		z-index: 99;
 		opacity: 0;
 		visibility: hidden;
 		@include border-radius($submenu_radius);
 		@include transform(perspective(500px) rotateY(20deg));
 		transform-origin: -50% 0%;
 		@include box-shadow($submenu_shadow);
 		@include transition(transform .25s cubic-bezier(0, 0, 0.76, 1), opacity 0.25s cubic-bezier(0, 0, 0.76, 1));

 		&.back {
 			left: auto;
 			right: 100%;
 		}

 		[dir="rtl"] & {
 			left: auto;
 			right: 100%;

 			&.back {
 				right: auto;
 				left: 100%;
 			}
 		}

 		a {
 			@include transition(color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
 		}
 	}

 	.sub-menu {
 		li {
 			padding: 0;

 			&:last-child {
 				a {
 					border-bottom: 0;
 				}
 			}

 			>.main-menu-toggle {
 				line-height: 1;
 				align-self: center;
 				position: absolute;
 				top: 50%;
 				right: 15px;
 				font-size: 15px;
 				color: $body_color !important;
 				opacity: 1;
 				@include transform(translate(0, -50%));
 				@include transition(color .3s ease);

 				&:before {
 					font-family: $pxli_font;
 					content: $menu_item_icon;
 				}
 			}

 			>a {
 				display: block;
 				font-size: $submenu_font_size;
 				line-height: 1.5;
 				font-weight: $submenu_font_weight;
 				padding: 14px 20px 14px 10px;
 				color: $submenu_regular;
 				background-color: $submenu_item_bg;
 				border-bottom: 1px solid #e4e8ec;
 				white-space: nowrap;

 				&::before {
 					content: "";
 					display: inline-block;
 					width: 4px;
 					height: 4px;
 					border-radius: 50%;
 					background-color: $primary_color;
 					vertical-align: middle;
 					margin-right: 7px;
 					transform: scale(0);
 				}

 				.pxl-menu-title {
 					display: inline-block;
 					transition: all .4s cubic-bezier(.39, .58, .57, 1);
 					transform: translateX(-23px);

 					&::before {
 						content: "";
 						display: inline-block;
 						width: 4px;
 						height: 4px;
 						border-radius: 50%;
 						background-color: $primary_color;
 						vertical-align: middle;
 						margin-right: 10px;
 						transform: scale(0) translateX(-2px);
 					}
 				}

 				&:hover {
 					&::before {
 						transform: scale(1);
 						transition: all 200ms linear 200ms;
 					}

 					.pxl-menu-title {
 						transform: translateX(0);

 						&::before {
 							transform: scale(1) translateX(-2px);
 							transition: all 200ms linear 300ms;
 						}
 					}
 				}
 			}

 			&:hover {
 				>.sub-menu {
 					top: -15px;
 				}

 				>.main-menu-toggle {
 					color: $heading_color;
 				}
 			}

 			&.active,
 			&.current-menu-item,
 			&.current-menu-ancestor {
 				>a {
 					background-color: $submenu_item_bg_hover;

 					&::before {
 						transform: scale(1);
 					}

 					.pxl-menu-title {
 						transform: translateX(0);

 						&::before {
 							transform: scale(1) translateX(-2px);
 						}
 					}
 				}
 			}
 		}
 	}

 	.pxl-parent-menu-icon {
 		float: right;

 		&:before {
 			margin-left: 5px;

 			[dir="rtl"] & {
 				margin-left: 0;
 				margin-right: 5px;
 			}
 		}

 		[dir="rtl"] & {
 			float: left;
 		}
 	}
 }

 .style-vr {
 	.pxl-primary-menu {
 		margin-left: 0;
 		margin-right: 0;
 		padding: 0 30px;

 		>li {
 			margin: 0;
 			flex: 0 0 100%;
 			width: 100%;
 			@include d-flex();

 			>.main-menu-toggle {
 				position: absolute;
 				top: 50%;
 				margin-top: -10px;
 				right: 30px;
 				font-size: 16px;

 				&:before {
 					content: "\e9a0";
 				}
 			}

 			>a {
 				font-weight: normal;
 				line-height: 60px;
 				letter-spacing: 0.04em;
 				text-transform: uppercase;
 			}

 			&.active,
 			&.current-menu-item,
 			&.current-menu-ancestor,
 			&:hover {

 				>a,
 				>.main-menu-toggle {
 					color: $menu_active;
 					font-weight: 700;
 				}
 			}

 			>.sub-menu {
 				left: 0;
 				right: 0;

 				[dir="rtl"] & {
 					left: 0;
 				}
 			}
 		}

 		.sub-menu {
 			top: 100%;
 			left: 0;
 			right: 0;
 			width: 100%;
 			text-align: center;
 			padding: 30px 30px;

 			a:hover {
 				padding-left: 0;
 			}
 		}

 	}
 }

 .is-arrow {
 	.pxl-primary-menu {
 		li {
 			.main-menu-toggle {
 				display: block;
 			}
 		}
 	}
 }

 .pxl-navigation {
 	.align-items-center {
 		justify-content: end;
 	}
 }

.style-st1 {
 	.pxl-primary-menu {
 		>li {
 			>a {
 				position: relative;

 				&::before,
 				&::after {
 					content: '';
 					position: absolute;
 					width: 100%;
 					height: 1px;
 					background: currentColor;
 					top: 100%;
 					left: 0;
 					pointer-events: none;
 				}

 				&::before {
 					height: 10px;
 					top: 100%;
 					opacity: 0;
 				}

 				&::after {
 					transition: opacity 0.3s;
 					opacity: 0;
 					transition-delay: 0s;
 				}
 			}

 			&:hover {
 				>a {
 					&::before {
 						opacity: 1;
 						animation: lineUp 0.3s ease forwards;
 					}

 					&::after {
 						opacity: 1;
 						transition-delay: 0.3s;
 					}
 				}
 			}
 		}
 	}
 }

.style-st2 {
 	.pxl-primary-menu {
 		>li>a::before {
 			display: none;
 		}

 		li {
 			.main-menu-toggle {
 				font-size: 16px;
 				position: relative;

 				&::before {
 					content: "\e973";
 				}
 			}
 		}
 	}

 	.pxl-divider-move {
 		position: absolute;
 		display: none;
 		pointer-events: none;
 		transition: .4s ease-in-out;
 		inset: 0;
 		z-index: 0;

 		&::before {
 			content: '';
 			position: absolute;
 			left: 0;
 			bottom: 2px;
			width: 100%;
			height: 2px;
 			background-color: $primary_color;
 			border-radius: 10px;
 		}
 	}
}
.style-st3{
	.pxl-primary-menu {
		margin-left: 0;
		margin-right: 0;
		>li{
			border-right: 1px solid rgba(255, 255, 255, 0.10);
			margin: 0;
			flex: 1;
    		list-style: none;
			> a{
				position: relative;
				width: 100%;
				height: 80px;
				padding: 12px 16px;
				align-items: start;
				&::after{
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					width: 0;
					height: 1px;
					background-color: #fafafa;
					transition: all 350ms ease;
				}
			}
			.main-menu-toggle{
				position: absolute;
				right: 12px;
				bottom: 12px;
				&::before{
					content: '';
					position: absolute;
					width: 4px;
					height: 4px;
					right: 0;
					bottom: 0;
					background-color: #fff;
					border-radius: 50%;
				}
			}
			> .sub-menu{
				left: 0;
			}
			&.current-menu-ancestor, &:hover{
				> a{
					&::after{
						width: 100%;
					}
				}
			}
		}
	}
}

.style-st4{
	.pxl-primary-menu {
		&::before{
			--width-border: 64px;
			content: '';
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 3px;
			width: calc(100% - var(--width-border));
			height: 1px;
			background-color: rgba(255, 255, 255, 0.30);
		}
		>li{
			&::before{
				--color-boxshadow: rgba(255, 255, 255, 0.1);
				content: '';
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 0;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: #fff;
				box-shadow: 0px 0px 0px 0px var(--color-boxshadow);
				transition: all 0.35s ease;
			}
			.main-menu-toggle{
				margin-left: 4px;
			}
			&.current-menu-ancestor, &:hover{
				&::before{
					background-color: $primary_color;
					box-shadow: 0px 0px 0px 6px var(--color-boxshadow);
				}
			}
		}
	}
}